owner: '{{owner}}'
tribe: '{{tribe}}'
vertical: '{{vertical}}'
application:
  name: '{{appName}}'
  description: '{{appDescription}}'
  documentation: 'https://gitlab.luizalabs.com/{{gitlabProjectSlug}}/-/blob/master/README.md'
  languages: '{{languages}}'
  fortify_id: '{{fortifyId}}'
security:
  url_homolog: '{{urlHomolog}}'
  url_prod: '{{urlProd}}'
  businessRisk: '{{businessRisk}}'
  public: '{{public}}'
  accessibility: 'No'
  waf: 'No'
  qradar: 'No'
  authentication: 'Not apply'
  administration: 'Not apply'
dependencies:
  infrastructure:
    - 'ArgoCD'
