{
	"inputs": [],
	"servers": {
		"github": {
			"type": "http",
			"url": "https://api.githubcopilot.com/mcp/",
			"gallery": true
		},
		"microsoft-docs": {
			"type": "http",
			"url": "https://learn.microsoft.com/api/mcp",
			"gallery": true
		},
		"playwright": {
			"type": "stdio",
			"command": "npx",
			"args": [
				"@playwright/mcp@latest"
			],
			"gallery": true
		},
		"sequentialthinking": {
			"type": "stdio",
			"command": "npx",
			"args": [
				"-y",
				"@modelcontextprotocol/server-sequential-thinking@latest"
			],
			"gallery": true
		},
		"memory": {
			"type": "stdio",
			"command": "npx",
			"args": [
				"-y",
				"@modelcontextprotocol/server-memory@latest"
			],
			"env": {
				"MEMORY_FILE_PATH": "${input:memory_file_path}"
			},
			"gallery": true
		},
		"terraform": {
			"type": "stdio",
			"command": "docker",
			"args": [
				"run",
				"-i",
				"--rm",
				"hashicorp/terraform-mcp-server:latest"
			],
			"gallery": true
		},
		"gitlab-labs": {
			"type": "stdio",
			"command": "glab",
			"args": [
				"mcp",
				"serve"
			],
			"gallery": false
		}
	}
}
