{
	"inputs": [
		{
			"id": "GITLAB_TOKEN",
			"type": "promptString",
			"description": "Personal Access Token for GitLab (GITLAB_TOKEN)",
			"password": true
		}
	],
	"servers": {
		"microsoft-docs": {
			"type": "http",
			"url": "https://learn.microsoft.com/api/mcp",
			"gallery": true
		},
		"playwright": {
			"type": "stdio",
			"command": "npx",
			"args": [
				"@playwright/mcp@latest"
			],
			"gallery": true
		},
		"sequentialthinking": {
			"type": "stdio",
			"command": "npx",
			"args": [
				"-y",
				"@modelcontextprotocol/server-sequential-thinking@latest"
			],
			"gallery": true
		},
		"gitlab-labs": {
			"type": "stdio",
			"command": "glab",
			"args": [
				"mcp",
				"serve"
			],
			"env": {
				"GITLAB_TOKEN": "${input:GITLAB_TOKEN}",
				"GITLAB_HOST": "https://gitlab.luizalabs.com/"
			},
			"gallery": true
		}
	}
}
